<!doctype html>
<html class="no-js" lang="en">
<head>
	<!-- Basic page needs -->
	<meta charset="utf-8">
	<!-- START SEO -->
	<!-- Primary Meta Tags -->
	<title>Template Shoes Shop - Shop Oxelar - SS08| KhoTemplateVN</title>
	<meta name="title" content="Template Shoes Shop - Shop Oxelar - SS08| KhoTemplateVN">
	<meta name="description" content="Template Shoes Shop cung cấp đầy đủ mọi chức năng cho người dùng giúp việc quảng cáo thương hiệu, quảng cáo sản phẩm, chuẩn seo, chuẩn responsive.">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://khotemplate.vn/preview/template-shoes-shop-shop-oxelar-ss08/index.html">
	<meta property="og:title" content="Template Shoes Shop - Shop Oxelar - SS08| KhoTemplateVN">
	<meta property="og:description" content="Template Shoes Shop cung cấp đầy đủ mọi chức năng cho người dùng giúp việc quảng cáo thương hiệu, quảng cáo sản phẩm, chuẩn seo, chuẩn responsive.">
	<meta property="og:image" content="/img/banner/5.jpg">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://khotemplate.vn/preview/template-shoes-shop-shop-oxelar-ss08/index.html">
	<meta property="twitter:title" content="Template Shoes Shop - Shop Oxelar - SS08| KhoTemplateVN">
	<meta property="twitter:description" content="Template Shoes Shop cung cấp đầy đủ mọi chức năng cho người dùng giúp việc quảng cáo thương hiệu, quảng cáo sản phẩm, chuẩn seo, chuẩn responsive.">
	<meta property="twitter:image" content="/img/banner/5.jpg">
	<!-- END SEO -->
	<!-- Mobile specific metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    
	<!-- all css hare -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" href="/css/TimeCircles.css">
	<link rel="stylesheet" href="/css/jquery-ui.css">
	<link rel="stylesheet" href="/css/venobox.css">
	<link rel="stylesheet" href="/css/elegent-font.css">
	<link rel="stylesheet" href="/css/meanmenu.css">
	<link rel="stylesheet" href="/lib/css/nivo-slider.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/css/responsive.css">
	
	<!-- modernizr js -->
	<script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	
	<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	<!-- site content here -->
	<div class="page-inner">
		<!-- header-area start -->
		<%- include ('./partials/header')%>
		<!-- header-area end -->
		<!-- mobile-menu-area start -->
		<div class="mobile-menu-area visible-xs">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="mobile-menu">
							<nav id="mobile-menu-active">
								<ul>
									<li><a href="/">Trang Chủ</a>
										
									</li>
									
									<li><a href="">Danh Mục</a>
										<ul>
											<li><a href="">Danh Mục 1</a></li>
											<li><a href="">Dang Mục 2</a></li>
										</ul>
									</li>
									
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- mobile-menu-area end -->
		<!-- slider-area start -->
		<div class="container-fluid">
			<div class="slider-area">
				<div class="slider-container">
					<!-- Slider Image -->
					<div id="mainSlider" class="nivoSlider slider-image">
						<img src="/img/trangchu_slide6.jpg" alt="main slider" title="#htmlcaption1" />
						<img src="/img/trangchu_slide4.jpg" alt="main slider" title="#htmlcaption2" />
					</div>
					<!-- Slider Caption 1 -->
					<div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
						<div class="slider-progress"></div>
						<div class="slide1-text hidden-xs">
							<div class="middle-text">
								<div class="cap-title wow fadeInDown" data-wow-duration="1.2s" data-wow-delay="0s">
									<img src="" alt="">
								</div>
								
							</div>
						</div>
					</div>
					<!-- Slider Caption 2 -->
					<div id="htmlcaption2" class="nivo-html-caption slider-caption-2">
						<div class="slider-progress"></div>
						<div class="slide2-text hidden-xs">
							<div class="middle-text">
								
								<div class="cap-readmore wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.9s">
									
								</div>
							</div>
						</div>
					</div>


					
				</div>
			</div>
		</div>
		<!-- slider-area end -->
		<!-- about-area start -->
		<div class="about-area pt-85 md-pt-55 sm-pt-30">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="about-img">
							<a href="#"><img src="/img/about/1.jpg" alt=""></a>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="about-content">
							<p class="title">Hàng hóa luôn luôn được cập nhật liên tục</p>
							<h3>Hàng loạt các đợt giảm giá đang chờ bạn!
							</h3>
							
							<div class="content">
							<p>Hàng hóa đa dạng phong phú cung cấp cho các bạn nhiều lựa chọn đa dạng phong phú.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- about-area end -->
		<!-- new-product-area start -->
		<div class="new-product-area ptb-85 md-ptb-55 small-ptb-30">
			<div class="container">
				<div class="section-title">
					<h3>Sản Phẩm Gợi ý Cho Bạn</h3>
					
                </div>
            
				<div  class="row">
					<div class="col-lg-12 col-md-12">
						<div class="main_wraper">
							<!-- Nav tabs -->
							<ul class="promo" role="tablist">
								<!-- <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"> Bestsellers</a></li>
								<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"> New Arrivals</a></li>
								<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"> Specials</a></li> -->
							</ul>
							<!-- Tab panes -->
							<div  class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="home">
									<div class="row">
										<div id ='list-recomendation' class="new-product-carosel carosel-control">
									
											<% if(listProductsRecomendation){ %>
											<%let arrayIdP = ''%>
											<% listProductsRecomendation.forEach((product, index) =>{%>
											<%	if(product._fields){ %>

											<%if(!arrayIdP.includes(product._fields[0].properties.id)){%>
											<div numberProduct = <%= index %> class="owl-item" style="width: 390px;">
											<div class="col-lg-12">
												<div  id = "<%=product._fields[0].properties.id%>" class="single-item">
													<div class="product-img">
														<a href="#"><img src="<%= product._fields[0].properties.image%>" alt="product"></a>
														<div class="product-action">
															<ul>
																<li><a href="#" title="Add to cart"><i class="icon_heart_alt"></i></a></li>
																<li><a href="#" title="Add to wishlist"><i class="icon_tags_alt"></i></a></li>
																<li><a href="#" title="Add to compare"><i class="arrow_expand_alt"></i></a></li>
															</ul>
														</div>
														<div class="hook-reviews">
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o black" aria-hidden="true"></i>
														</div>
													</div>
													<div class="product-content">
														<a href="#"><h5> <%= product._fields[0].properties.name%> </h5></a>
														<p class="manufacturer_name"> </p>
														<div class="price">
															<p><%= product._fields[0].properties.price %></p>
														</div>
														<a class="add-button" href="#">+Thêm vào giỏ hàng</a>
													</div>
												</div>
											</div>
										</div>
										<%}%>
											<% arrayIdP += ','+ product._fields[0].properties.id%>
											<%}%>
											<% })  }%>
											<div >

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





			<div class="new-product-area ptb-85 md-ptb-55 small-ptb-30">
			<div class="container">
				<div class="section-title">
					<h3>Có thể bạn sẽ thích</h3>
					
                </div>
            
				<div  class="row">
					<div class="col-lg-12 col-md-12">
						<div class="main_wraper">
							<!-- Nav tabs -->
							<ul class="promo" role="tablist">
								<!-- <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"> Bestsellers</a></li>
								<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"> New Arrivals</a></li>
								<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"> Specials</a></li> -->
							</ul>
							<!-- Tab panes -->
							<div  class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="home">
									<div class="row">
										<div id ='list-recomendation' class="new-product-carosel carosel-control">
										<% if(listProUserSameHobbies){ %>
											<%let arrayIdPKUSer = ''%>
											<% listProUserSameHobbies.forEach((product, index) =>{%>
												<%if(product){%>
											<%if(!arrayIdPKUSer.includes(product._fields[0].properties.id)){%>
											<div numberProduct = <%= index %> class="owl-item" style="width: 390px;">
											<div class="col-lg-12">
												<div  id = "like-user-<%=product._fields[0].properties.id%>" class="single-item">
													<div class="product-img">
														<a href="#"><img src="<%= product._fields[0].properties.image%>" alt="product"></a>
														<div class="product-action">
															<ul>
																<li><a href="#" title="Add to cart"><i class="icon_heart_alt"></i></a></li>
																<li><a href="#" title="Add to wishlist"><i class="icon_tags_alt"></i></a></li>
																<li><a href="#" title="Add to compare"><i class="arrow_expand_alt"></i></a></li>
															</ul>
														</div>
														<div class="hook-reviews">
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o black" aria-hidden="true"></i>
														</div>
													</div>
													<div class="product-content">
														<a href="#"><h5> <%= product._fields[0].properties.name%> </h5></a>
														<p class="manufacturer_name"> </p>
														<div class="price">
															<p><%= product._fields[0].properties.price %></p>
														</div>
														<a class="add-button" href="#">+Thêm vào giỏ hàng</a>
													</div>
												</div>
											</div>
										</div>
										<%}%>
											<% arrayIdPKUSer += ','+product._fields[0].properties.id%>
											<%}%>
											<% })  }%>
											<div >
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- new-product-area end -->
		<!-- banner-area start -->
		<!-- <div class="banner-area">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="single-banner sm-mb-18 xs-mb-18">
							<a href="#">
								<img src="/img/banner/1.jpg" alt="">
								<span class="out">
                                	<span class="in">shirts for men</span>
								</span>
								<span class="lebel-out">
                                	<span class="lebel-in">Sale Off</span>
								</span>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="single-banner sm-mb-18 xs-mb-18">
							<a href="#">
								<img src="/img/banner/2.jpg" alt="">
								<span class="out">
                                	<span class="in">Handbag for men</span>
								</span>
								<span class="lebel-out">
                                	<span class="lebel-in">Sale Off</span>
								</span>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="single-banner mb-18">
							<a href="#">
								<img src="/img/banner/3.jpg" alt="">
								<span class="out">
                                	<span class="in">jacket sports</span>
								</span>
								<span class="lebel-out">
                                	<span class="lebel-in">-33%</span>
								</span>
							</a>
						</div>
						<div class="single-banner xs-mb-18">
							<a href="#">
								<img src="/img/banner/4.jpg" alt="">
								<span class="out">
                                	<span class="in">watches</span>
								</span>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="single-banner mb-18">
							<a href="#">
								<img src="/img/banner/5.jpg" alt="">
								<span class="out">
                                	<span class="in">shoes for men</span>
								</span>
							</a>
						</div>
						<div class="single-banner">
							<a href="#">
								<img src="/img/banner/6.jpg" alt="">
								<span class="out">
                                	<span class="in">suits</span>
								</span>
								<span class="lebel-out">
                                	<span class="lebel-in">-17%</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- banner-area end -->
		<!-- feature-area start -->
		<div class="feature-area ptb-85 md-ptb-55 small-ptb-30">
			<div class="container">
				<div class="section-title">
					<h3>Sản Phẩm Nổi Bật</h3>
                </div>
				<!-- load products -->
				
				<div class="row" >

					<div class="feature-carosel carosel-control">
                    <% listData.forEach(item =>{ %>
						<div   class="col-lg-12">
							<div  class="single-item" id = "<%=item._fields[0].properties.id%>" nameProduct ="<%=item._fields[0].properties.name%>">
								<div class="product-img">
									<a  ><img   src="<%= item._fields[0].properties.image%>" alt="product"></a>
									<div class="product-action">
										<ul>    
											<li><a href="#" title="Add to cart"><i class="icon_heart_alt"></i></a></li>
											<li><a href="#" title="Add to wishlist"><i class="icon_tags_alt"></i></a></li>
											<li><a href="#" title="Add to compare"><i class="arrow_expand_alt"></i></a></li>
										</ul>
									</div>
									<div class="hook-reviews">
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o black" aria-hidden="true"></i>
									</div>
								</div>
								<div class="product-content">
									<h5 id='name-product'>Tên Sản Phẩm : <%= item._fields[0].properties.name %> </h5>
									<p class="manufacturer_name"></p>
									<div class="price">
										<p><%= item._fields[0].properties.price %> VNĐ</p>
									</div>
									<a class="add-button" href="#">+Thêm Vào Giỏ Hàng</a>
									<a class="add-button btn-watch-product"  id = "<%= item._fields[0].properties.id %>" nameProduct ="<%=item._fields[0].properties.name%> href="#">Xem chi tiết sản phẩm</a>

								</div>
							</div>
                        </div>
                        <% }) %>
						<!-- <div class="col-lg-12">
							<div class="single-item">
								<div class="product-img">
									<a href="#"><img src="/img/feature/2.jpg" alt="product"></a>
									<div class="product-action">
										<ul>
											<li><a href="#" title="Add to cart"><i class="icon_heart_alt"></i></a></li>
											<li><a href="#" title="Add to wishlist"><i class="icon_tags_alt"></i></a></li>
											<li><a href="#" title="Add to compare"><i class="arrow_expand_alt"></i></a></li>
										</ul>
									</div>
									<div class="hook-reviews">
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o black" aria-hidden="true"></i>
									</div>
								</div>
								<div class="product-content">
									<a href="#"><h5> Faded Short Sleeves T-shirt </h5></a>
									<p class="manufacturer_name"> Dolce & Gabbana</p>
									<div class="price">
										<p>$ 19.68</p>
									</div>
									<a class="add-button" href="#">+add to cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-item">
								<div class="product-img">
									<a href="#"><img src="/img/feature/3.jpg" alt="product"></a>
									<div class="product-action">
										<ul>
											<li><a href="#" title="Add to cart"><i class="icon_heart_alt"></i></a></li>
											<li><a href="#" title="Add to wishlist"><i class="icon_tags_alt"></i></a></li>
											<li><a href="#" title="Add to compare"><i class="arrow_expand_alt"></i></a></li>
										</ul>
									</div>
									<div class="hook-reviews">
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o black" aria-hidden="true"></i>
									</div>
								</div>
								<div class="product-content">
									<a href="#"><h5> Faded Short Sleeves T-shirt </h5></a>
									<p class="manufacturer_name"> Dolce & Gabbana</p>
									<div class="price">
										<p>$ 19.68</p>
									</div>
									<a class="add-button" href="#">+add to cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-item">
								<div class="product-img">
									<a href="#"><img src="/img/feature/4.jpg" alt="product"></a>
									<div class="product-action">
										<ul>
											<li><a href="#" title="Add to cart"><i class="icon_heart_alt"></i></a></li>
											<li><a href="#" title="Add to wishlist"><i class="icon_tags_alt"></i></a></li>
											<li><a href="#" title="Add to compare"><i class="arrow_expand_alt"></i></a></li>
										</ul>
									</div>
									<div class="hook-reviews">
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o black" aria-hidden="true"></i>
									</div>
								</div>
								<div class="product-content">
									<a href="#"><h5> Faded Short Sleeves T-shirt </h5></a>
									<p class="manufacturer_name"> Dolce & Gabbana</p>
									<div class="price">
										<p>$ 19.68</p>
									</div>
									<a class="add-button" href="#">+add to cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-item">
								<div class="product-img">
									<a href="#"><img src="/img/feature/5.jpg" alt="product"></a>
									<div class="product-action">
										<ul>
											<li><a href="#" title="Add to cart"><i class="icon_heart_alt"></i></a></li>
											<li><a href="#" title="Add to wishlist"><i class="icon_tags_alt"></i></a></li>
											<li><a href="#" title="Add to compare"><i class="arrow_expand_alt"></i></a></li>
										</ul>
									</div>
									<div class="hook-reviews">
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o black" aria-hidden="true"></i>
									</div>
								</div>
								<div class="product-content">
									<a href="#"><h5> Faded Short Sleeves T-shirt </h5></a>
									<p class="manufacturer_name"> Dolce & Gabbana</p>
									<div class="price">
										<p>$ 19.68</p>
									</div>
									<a class="add-button" href="#">+add to cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-item">
								<div class="product-img">
									<a href="#"><img src="/img/feature/6.jpg" alt="product"></a>
									<div class="product-action">
										<ul>
											<li><a href="#" title="Add to cart"><i class="icon_heart_alt"></i></a></li>
											<li><a href="#" title="Add to wishlist"><i class="icon_tags_alt"></i></a></li>
											<li><a href="#" title="Add to compare"><i class="arrow_expand_alt"></i></a></li>
										</ul>
									</div>
									<div class="hook-reviews">
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o black" aria-hidden="true"></i>
									</div>
								</div>
								<div class="product-content">
									<a href="#"><h5> Faded Short Sleeves T-shirt </h5></a>
									<p class="manufacturer_name"> Dolce & Gabbana</p>
									<div class="price">
										<p>$ 19.68</p>
									</div>
									<a class="add-button" href="#">+add to cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-item">
								<div class="product-img">
									<a href="#"><img src="/img/feature/7.jpg" alt="product"></a>
									<div class="product-action">
										<ul>
											<li><a href="#" title="Add to cart"><i class="icon_heart_alt"></i></a></li>
											<li><a href="#" title="Add to wishlist"><i class="icon_tags_alt"></i></a></li>
											<li><a href="#" title="Add to compare"><i class="arrow_expand_alt"></i></a></li>
										</ul>
									</div>
									<div class="hook-reviews">
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
										<i class="fa fa-star-o black" aria-hidden="true"></i>
									</div>
								</div>
								<div class="product-content">
									<a href="#"><h5> Faded Short Sleeves T-shirt </h5></a>
									<p class="manufacturer_name"> Dolce & Gabbana</p>
									<div class="price">
										<p>$ 19.68</p>
									</div>
									<a class="add-button" href="#">+add to cart</a>
								</div>
							</div>
						</div> -->
                    </div>
               
                </div>
                


               
               
                   
             </div>
            </div>
		</div>
		<!-- feature-area end -->
		<!-- testimonial-area start -->
		<!-- <div class="testimonial-area">
			<div class="container-fluid">
				<div class="testi-bg ptb-90 md-ptb-50 small-ptb-30">
					<div class="container">
						<div class="section-title">
							<h3>What people say</h3>
							<p>Testimonials</p>
						</div>
					</div>
					<div class="row">
						<div class="testimonial-carousel carosel-control-2">
							<div class="col-lg-12">
								<div class="single-testimonial">
									<p>These guys have been absolutely outstanding. When I needed them they came through in a big way! I know that if you buy this theme, you'll get the one thing we all look for when we buy on Themeforest, and that's real support for the craziest of requests! I highly recommend this theme and these people!</p>
									<h3>Luis Manrata</h3>
									<span>demo@HasTech.com</span>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="single-testimonial">
									<p>These guys have been absolutely outstanding. When I needed them they came through in a big way! I know that if you buy this theme, you'll get the one thing we all look for when we buy on Themeforest, and that's real support for the craziest of requests! I highly recommend this theme and these people!</p>
									<h3>Luis Manrata</h3>
									<span>demo@HasTech.com</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- testimonial-area end -->
		<!-- blog-area start -->
		<!-- <div class="blog-area">
			<div class="container">
				<div class="blog-border ptb-85 md-ptb-55 small-ptb-30">
					<div class="section-title">
						<h3>From Our Blog</h3>
						<p>Your latest posts or best articles will be posted here.</p>
					</div>
					<div class="row">
						<div class="blog-carousel carosel-control">
							<div class="col-lg-12">
								<div class="single-blog">
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xs-mb-20">
											<div class="blog-inner small-mb-50">
												<div class="inner-img overlay">
													<a href="#"><img src="/img/blog/1.jpg" alt=""></a>
												</div>
												<div class="inner-content">
													<h3>Fiant sollemnes in futurum</h3>
													<span>15 members viewed this post</span>
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy...</p>
													<a class="more" href="#">read more</a>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 xs-mb-20">
											<div class="blog-inner small-mb-50">
												<div class="inner-img overlay">
													<a href="#"><img src="/img/blog/2.jpg" alt=""></a>
												</div>
												<div class="inner-content">
													<h3>Qui nunc nobis videntur parum</h3>
													<span>15 members viewed this post</span>
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy...</p>
													<a class="more" href="#">read more</a>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
											<div class="blog-inner">
												<div class="inner-img overlay">
													<a href="#"><img src="/img/blog/3.jpg" alt=""></a>
												</div>
												<div class="inner-content">
													<h3>Mirum est notare quam littera gothica</h3>
													<span>15 members viewed this post</span>
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy...</p>
													<a class="more" href="#">read more</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="single-blog">
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xs-mb-20">
											<div class="blog-inner small-mb-50">
												<div class="inner-img overlay">
													<a href="#"><img src="/img/blog/4.jpg" alt=""></a>
												</div>
												<div class="inner-content">
													<h3>Quam nunc putamus parum claram</h3>
													<span>15 members viewed this post</span>
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy...</p>
													<a class="more" href="#">read more</a>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 xs-mb-20">
											<div class="blog-inner small-mb-50">
												<div class="inner-img overlay">
													<a href="#"><img src="/img/blog/5.jpg" alt=""></a>
												</div>
												<div class="inner-content">
													<h3>Anteposuerit litterarum formas</h3>
													<span>15 members viewed this post</span>
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy...</p>
													<a class="more" href="#">read more</a>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
											<div class="blog-inner">
												<div class="inner-img overlay">
													<a href="#"><img src="/img/blog/6.jpg" alt=""></a>
												</div>
												<div class="inner-content">
													<h3>Per seacula quarta decima et quinta decima</h3>
													<span>15 members viewed this post</span>
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy...</p>
													<a class="more" href="#">read more</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- blog-area end -->
		<!-- newsletter-area start -->
		<!-- <div class="newsletter-area ptb-85 md-ptb-55 small-ptb-30">
			<div class="container">
				<div class="section-title">
					<h3>Join The Newsletter</h3>
					<p>Sign up for our newsletter !</p>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="subscribe">
							<form action="#">
								<input type="text" placeholder="Your email address...">
							</form>
							<a class="more" href="#">subscribe</a>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- newsletter-area end -->
		<!-- service-area start -->
		<!-- <div class="service-area">
			<div class="container-fluid">
				<div class="service-bg ptb-40">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 service-border service-mb-30">
							<div class="single-service">
								<div class="service-img">
									<img src="/img/service/icon-plane.jpg" alt="plane">
								</div>
								<div class="text">
									<h3>free shipping worldwide</h3>
									<p>On order over $150 - 7 days a week</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 service-border service-mb-30">
							<div class="single-service br-none">
								<div class="service-img">
									<img src="/img/service/icon-headphone.jpg" alt="icon-headphone">
								</div>
								<div class="text">
									<h3>24/7 customer service</h3>
									<p>Call us 24/7 at 000 - 123 - 456</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 service-border">
							<div class="single-service">
								<div class="service-img">
									<img src="/img/service/rotate.jpg" alt="rotate">
								</div>
								<div class="text">
									<h3>money back guaratee!</h3>
									<p>Send within 30 days</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
							<div class="single-service">
								<div class="service-img">
									<img src="/img/service/icon-cog.jpg" alt="icon-cog">
								</div>
								<div class="text">
									<h3>Shopping Guide</h3>
									<p>Quis Eum Iure Reprehenderit</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- service-area end -->
		<!-- footer-top-area start -->
	
	
		<%- include ('./partials/footer')%>
	
	<!-- all js here -->
	<script src="/js/vendor/jquery-1.12.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/lib/js/jquery.nivo.slider.pack.js"></script>
	<script src="/lib/js/nivo-active.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/TimeCircles.js"></script>
	<script src="/js/venobox.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/jquery.meanmenu.js"></script>
	<script src="/js/jquery.scrollUp.js"></script>
	<script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    
    <script>
        $(document).ready(function(){
		//
		let idCustomer = $('.customer-name').attr("id");
		if(idCustomer && idCustomer!=''){
		let username = $('.customer-name').text;
		window.localStorage.setItem('idCustomer', idCustomer);
		window.localStorage.setItem('username', username);
		}
		let name = window.localStorage.getItem('productClick');
		console.log({name})
		if(name && name!='undefined'){
			console.log('----?')
			$('div').remove("#recomendation-product");
                $.ajax({
                   url:`/products/watchs/${name}`,
                   method:'POST',
                   success : function(data){
			console.log(data)

                        data.data.records.forEach(product => {
							console.log(product)
                            $('#list-recomendation').prepend(`
							<div class="owl-item" id ='recomendation-product' style="width: 390px;">
							<div class="col-lg-12">
												<div  id = "${product._fields[0].properties.id}" class="single-item" >
													<div class="product-img">
														<a href="#"><img src="${product._fields[0].properties.image}" alt="product"></a>
														<div class="product-action">
															<ul>
																<li><a href="#" title="Add to cart"><i class="icon_heart_alt"></i></a></li>
																<li><a href="#" title="Add to wishlist"><i class="icon_tags_alt"></i></a></li>
																<li><a href="#" title="Add to compare"><i class="arrow_expand_alt"></i></a></li>
															</ul>
														</div>
														<div class="hook-reviews">
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
															<i class="fa fa-star-o black" aria-hidden="true"></i>
														</div>
													</div>
													<div class="product-content">
														<a href="#"><h5> ${product._fields[0].properties.name}</h5></a>
														<p class="manufacturer_name"></p>
														<div class="price">
															<p>${product._fields[0].properties.price} VNĐ</p>
														</div>
														<a class="add-button" href="#">+Thêm vào giỏ hàng</a>
													</div>
												</div>
											</div>
											</div>	
                           `);
                        });
                   },
                   error : function(error){
                       console.log(error);
                   }
               }) 
			}
			   //
			$('body').on('click','.single-item',function(){
				let id = $(this).attr("id");
				let name = $(this).attr("nameProduct");
				window.localStorage.setItem('productClick',name);
				window.location.assign(`/products/single-product/${id}`);
				
			});

		let idProduct = $('.btn-add-cart').attr('id');
		let listIdProductOrder = JSON.parse(window.localStorage.getItem('litsProductOrder'));
		console.log(listIdProductOrder);
		console.log(typeof(listIdProductOrder));

		if(listIdProductOrder!='null' &&listIdProductOrder){	
			console.log('khac null');
			console.log(listIdProductOrder)
			console.log(listIdProductOrder[0])
			listIdProductOrder.forEach(id_product =>{
				$.ajax({
					url : `/products/find/${id_product.idProduct}`,
					method : 'post',
					success :function(result){
						console.log(result.data.data._fields[0].properties);
						$('.cart-open').append(`
								<li class="single-cart">
									<div class="cart-img">
										<a href="#"><img src="${result.data.data._fields[0].properties.image}" alt="" /></a>
									</div>
									<div class="cart-content">
										<h4><a href="#">1X <span>${result.data.data._fields[0].properties.name}</span></a></h4>
										<span><a href="#">${id_product.amout} </a></span>
										<span class="cart-price">${result.data.data._fields[0].properties.price.low}</span>
									</div>
									<div class="cart-del">
										<i id="${result.data.data._fields[0].properties.id}"" class="fa fa-times" aria-hidden="true"></i>
									</div>
								</li>
						`);
					},
					error : function(error){
						console.log(error)
					}
				})
			})
		
		}
		$('.btn-add-cart').click(function(){
			console.log('object');
			let  amout = $('#amout_product').val();
			$('.cart-open').empty();
			if(idCustomer!=''&&idCustomer){ //logined
				//create order line or update order old -- status order pedding 
				if($('.cart-open').children('li').length == 0){
					console.log('hello_create_new_order')
					let timeOrder = new Date();	
					$.ajax({
					url:'/orders/new',
					method:'post',
					data : {
						idCustomer : idCustomer,
						"listProduct" : [{"id" : idProduct,
						"amout" : amout}],
						timeOrder : timeOrder
					},
					success: function(result){
						console.log(result);
						
					$('.cart-open').append(``);
					},
					error : function(error){
						console.log(error);
					}
				});
				}else{
					$.ajax({
					url:'/orders/update',
					method:'post',
					data : {
						idCustomer : idCustomer,
						idProduct : idProduct,
						amout : amout
					}
				});

				$('.cart-open').append(``);

				}
				
				
			}
			//if not login will save listidProduct to localstoreg
			if(listIdProductOrder!='null' &&listIdProductOrder){ // if list had been
				console.log(listIdProductOrder);
				listIdProductOrder.push({idProduct, amout});
				window.localStorage.removeItem('litsProductOrder');
				window.localStorage.setItem('litsProductOrder', JSON.stringify (listIdProductOrder));
			}else{
				let  newListProductOrder = [idProduct];
				console.log(newListProductOrder);
				window.localStorage.removeItem('litsProductOrder');
				window.localStorage.setItem('litsProductOrder',JSON.stringify (newListProductOrder));
			}
			$('.cart-open').append(`
					<li class="single-cart">
						<div class="cart-img">
							<a href="#"><img src="/img/cart/1.jpg" alt="" /></a>
						</div>
						<div class="cart-content">
							<h4><a href="#">1X <span>Faded Short Sleeves <br>T-shirt</span></a></h4>
							<span><a href="#">S, Yellow </a></span>
							<span class="cart-price">$ 16.84</span>
						</div>
						<div class="cart-del">
							<i class="fa fa-times" aria-hidden="true"></i>
						</div>
					</li>
			`);

		}); 
	


	
		console.log(idProduct);
		
        })
    </script>
</body>

</html>