<%- include ('../partials/header')%>
</div>
</div>
</div>
</div>
<div class="main-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 nopadding-right">
                <aside>
                    <div class="usefull-product-slide">
                        <div class="area-title">
                            <h3>Sản phẩm tương tự</h3>
                        </div>
                        <div class="total-usefull-product carousle-pagi common4  owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <!-- single-product start -->
                            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1698px; left: 0px; display: block;"><div class="owl-item" style="width: 283px;"><div class="col-xs-12">
                                <div class="single-product">
                                    <div class="product-label">
                                    </div>
                                    <div class="product-img">
                                        <a href="#">
                                            <img alt="" src="../assets3/img/product/product-5.jpg" class="primary-image">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                        </div>
                                        <div class="price-box">
                                            <span class="new-price">$222.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div></div><div class="owl-item" style="width: 283px;"><div class="col-xs-12">
                                <div class="single-product">
                                    <div class="product-label">
                                    </div>
                                    <div class="product-img">
                                        <a href="#">
                                            <img alt="" src="../assets3/img/product/product-5.jpg" class="primary-image">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                        </div>
                                        <div class="price-box">
                                            <span class="new-price">$222.00</span>
                                            <span class="old-rpice"><del>$250.00</del></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div><div class="owl-item" style="width: 283px;"><div class="col-xs-12">
                                <div class="single-product">
                                    <div class="product-label">
                                    </div>
                                    <div class="product-img">
                                        <a href="#">
                                            <img alt="" src="../assets3/img/product/product-5.jpg" class="primary-image">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star-o"></i></a>
                                        </div>
                                        <div class="price-box">
                                            <span class="new-price">$222.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div></div></div></div>
                            <!-- single-product end -->
                            <!-- single-product start -->
                            
                            <!-- single-product end -->
                            <!-- single-product start -->
                            
                            <!-- single-product end -->
                        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
                    </div>
                </aside>
                <!--aside 1 end-->
                <aside>
                    <div class="tag-area">
                        <div class="area-title">
                            <h3>Popular Tags</h3>
                        </div>
                        <ul class="aside-padd">
                            <li> <a href="#">html5</a></li>
                            <li> <a href="#">css3</a></li>
                            <li> <a href="#">Joomla</a></li>
                            <li> <a href="#">Jquery</a></li>
                            <li> <a href="#">css</a></li>
                            <li> <a href="#">Content</a></li>
                            <li> <a href="#">clothing</a></li>
                            <li> <a href="#">shoes</a></li>
                            <li> <a href="#">gifts</a></li>
                            <li> <a href="#">electronics</a></li>
                        </ul>
                    </div>
                </aside>
                <!--aside 2 end-->
                <aside>
                    <div class="newsletter-area">
                        <div class="area-title">
                            <h3>Newsletter</h3>
                        </div>
                        <div class="aside-padd">
                            <div class="vina-newsletter">
                                <form method="post" action="#">
                                    <div class="input-box">
                                        <label>Sign Up for Our Newsletter:</label>
                                        <input type="email" placeholder="Email" name="email">
                                    </div>
                                    <div class="input-box">
                                        <input type="submit" class="submit-btn" name="submit" value="Subscribe">
                                    </div>
                                </form>
                            </div>
                            <div class="web-links">
                                <ul>
                                    <li><a href="#" class="rss"><i class="fa fa-rss"></i>
                </a></li>
                                    <li><a href="#" class="ldin"><i class="fa fa-linkedin"></i>
                </a></li>
                                    <li><a href="#" class="face"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="google"><i class="fa fa-google-plus"></i>
                </a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i>
                </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <!--aside 3 end-->
            </div>
            <!--col-md-3-->
            <div class="col-lg-9 col-md-9 nopadding-left">
                <div class="ambit-key">
                    <div class="col-lg-12 pt40">
                        <ol class="breadcrumbs">
                            <li class="home"><a href="index.html" title="Go to Home Page">Home</a></li>
                            <li class="active">Single-product</li>
                        </ol>
                    </div>
                    <!-- product-details-start-->
                    <div class="product-single-details row ml-0 mr-0">
                        <div class="col-lg-5 col-md-5 col-12">
                            <div class="imgs-area">
                                <img id="zoom_03" src="<%= product.image %>" data-zoom-image="<%= product.image %>" alt="">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div id="gallery_01" class="owl-carousel owl-theme" style="opacity: 1; display: block;">

                                            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1020px; left: 0px; display: block;"><div class="owl-item" style="width: 85px;"><div class="p-c">
                                                <a href="#" data-image="../assets3/img/product/small/01.jpg" data-zoom-image="../assets3/img/product/large/01.jpg">
                                                    <img class="zoom_03" src="../assets3/img/product/small/01.jpg" alt="">
                                                </a>
                                            </div></div><div class="owl-item" style="width: 85px;"><div class="p-c">
                                                <a href="#" data-image="../assets3/img/product/small/02.jpg" data-zoom-image="../assets3/img/product/large/02.jpg">
                                                    <img class="zoom_03" src="../assets3/img/product/small/02.jpg" alt="">
                                                </a>
                                            </div></div><div class="owl-item" style="width: 85px;"><div class="p-c">
                                                <a href="#" data-image="../assets3/img/product/small/03.jpg" data-zoom-image="../assets3/img/product/large/03.jpg">
                                                    <img class="zoom_03" src="../assets3/img/product/small/03.jpg" alt="">
                                                </a>
                                            </div></div><div class="owl-item" style="width: 85px;"><div class="p-c">
                                                <a href="#" data-image="../assets3/img/product/small/04.jpg" data-zoom-image="../assets3/img/product/large/04.jpg">
                                                    <img class="zoom_03" src="../assets3/img/product/small/04.jpg" alt="">
                                                </a>
                                            </div></div><div class="owl-item" style="width: 85px;"><div class="p-c">
                                                <a href="#" data-image="../assets3/img/product/small/03.jpg" data-zoom-image="../assets3/img/product/large/03.jpg">
                                                    <img class="zoom_03" src="../assets3/img/product/small/03.jpg" alt="">
                                                </a>
                                            </div></div><div class="owl-item" style="width: 85px;"><div class="p-c">
                                                <a href="#" data-image="../assets3/img/product/small/04.jpg" data-zoom-image="../assets3/img/product/large/04.jpg">
                                                    <img class="zoom_03" src="../assets3/img/product/small/04.jpg" alt="">
                                                </a>
                                            </div></div></div></div>
                                            
                                            
                                            
                                            
                                            
                                        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-12">
                            <div class="product-details-content">
                                <h3><%= product.name %></h3>
                                <div class="hits-rating">
                                    <p>Đánh giá: 5568 | <span>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a></span></p>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                                <div class="price-single">
                                    <%= product.price %> .000 VNĐ
                                    <p>Availability:<span>Unlimited</span></p>
                                </div>
                                <div class="add-to-box-view pt25 pb25">
                                    <a class="button cart_button" href="#" title="Add to Cart">
                                        <span>Thêm vào giỏ hàng</span>
                                    </a>
                                    <div class="input-content">
                                        <label>Qty:</label>
                                        <input type="number" value="1" name="quantity">
                                    </div>
                                </div>
                                <div class="add-to-box pt20 pb20">
                                    <ul>
                                        <li>
                                            <a class="link-wishlist" href="#">Add Your Wishlist</a>
                                        </li>
                                        <li>
                                            <a class="link-compare" href="#">Add Your Review</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social-share pt25 pb25">
                                    <a href="#"><img src="../assets3/img/social.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12">
                        <div class="features-tab product-des-review">
                            <!-- Nav tabs -->
                            <ul class="nav">
                                <li><a class="active" href="#product-des" data-toggle="tab">Product Descripton</a></li>
                                <li><a href="#add-review" data-toggle="tab">Add Your Review</a></li>
                                <li><a href="#product-tag" data-toggle="tab">Product Tags</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="product-des">
                                    <div class="std">
                                        <p><strong>Product Description</strong></p>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur r idiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum d olor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diumy eirmod tempor invidunt et dolore</p>
                                        <p><strong>List Sample</strong></p>
                                        <ul>
                                            <li>Donec metus est.</li>
                                            <li>Consectetur adipiscing.</li>
                                            <li>Dapibus feugiat.</li>
                                            <li>Gravida tortor.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="add-review">
                                    <div class="review-upper">
                                        <div class="review_item">
                                            <div><span class="review_user"><strong>Canada Goose Sale</strong></span>, <span class="review_time">10.10.2015</span></div>
                                            <div class="review_text">
                                                <p>Best Buy cheap rolex watches, imitation rolex watches, discount watch store, discount watch, replica rolex, rolex replica, fake rolex, fake watches, Rolex Replica, rolex Replica For Sale, calvin klein outlet, calvin klein underwear outlet, calvin klein underwear, calvin klein underwear outlet, calvin klein women underwear, calvin klein underwear for women, calvin klein underwear men, calvin klein underwear for men, calvin klein underwear men, men calvin klein, Christian Louboutin, Canada Goose Parka, Louis Vuitton Online Shop, Michael Kors Outlet Store , Michael Kors Bags On Sale, cheap jerseys, Canada Goose Jacket</p>
                                                <span> Canada Goose Sale: <a href="#">http://www.gamlielrallyteam.com</a></span>
                                            </div>
                                        </div>
                                        <div class="reviewer-ratting">
                                            <div class="name-date">
                                                <strong>Yasuo</strong><span>17.11.2025</span>
                                            </div>
                                            <span class="best">Best</span>
                                            <div class="rating">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-lower mt30">
                                        <div class="input-header">
                                            <p>Write a comment for this product!</p>
                                        </div>
                                        <form action="#" method="post">
                                            <div class="input-box">
                                                <span>Name:</span>
                                                <input type="text" class="review_user_name" placeholder="Name" name="user_name">
                                            </div>
                                            <div class="input-box">
                                                <span>Email:</span>
                                                <input type="email" placeholder="Your Email" class="review_email" name="email">
                                            </div>
                                            <div class="input-box">
                                                <span>Please Write your Comments</span>
                                                <textarea name="text-area" id="text_area"></textarea>
                                            </div>
                                            <div class="product-running">
                                                <span>Rating for product:</span>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <a title="Submit" href="#" class="button cart_button">
                                                    <span>Submit Comments</span>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-tag">
                                    <p>Comming Soon </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--==================== Recently Bought area end==================== -->
                    <!-- Related Product area start-->
                    <div class="col-lg-12">
                        <div class="related-product-area carousel-btn carousel-btn-4">
                            <div class="area-title bdr mt20">
                                <h2>Recently Bought</h2>
                            </div>
                            <div class="row row-margin">
                                <div class="feature-carousel pt20 pb20 owl-carousel owl-theme" style="opacity: 1; display: block;">
                                    <!-- single-product start -->
                                    <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2604px; left: 0px; display: block;"><div class="owl-item" style="width: 217px;"><div class="col-12 col-padd">
                                        <div class="single-product">
                                            <div class="product-label">
                                                <div class="new"></div>
                                            </div>
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="primary-image" src="../assets3/img/product/books1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                </div>
                                            </div>
                                            <div class="product-content2">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                </div>
                                                <div class="button-container">
                                                    <a title="Add to Cart" href="#" class="button cart_button">
                                                        <span>Add to Cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="add-to-links">
                                                <li>
                                                    <div class="wishlist">
                                                        <a title="" href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="view-products">
                                                        <a title="" href="#" data-toggle="tooltip" data-placement="top" data-original-title="view pordcuts"><i class="fa fa-arrows-alt"></i></a> </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div></div><div class="owl-item" style="width: 217px;"><div class="col-12 col-padd">
                                        <div class="single-product">
                                            <div class="product-label">
                                                <div class="new"></div>
                                            </div>
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="primary-image" src="../assets3/img/product/books6.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                </div>
                                            </div>
                                            <div class="product-content2">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                </div>
                                                <div class="button-container">
                                                    <a title="Add to Cart" href="#" class="button cart_button">
                                                        <span>Add to Cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="add-to-links">
                                                <li>
                                                    <div class="wishlist">
                                                        <a title="" href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="view-products">
                                                        <a title="" href="#" data-toggle="tooltip" data-placement="top" data-original-title="view pordcuts"><i class="fa fa-arrows-alt"></i></a> </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div></div><div class="owl-item" style="width: 217px;"><div class="col-12 col-padd">
                                        <div class="single-product">
                                            <div class="product-label">
                                                <div class="sale"></div>
                                            </div>
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="primary-image" src="../assets3/img/product/books2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                    <span class="old-rpice"><del>$250.00</del></span>
                                                </div>
                                            </div>
                                            <div class="product-content2">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                    <span class="old-rpice"><del>$250.00</del></span>
                                                </div>

                                                <div class="button-container">
                                                    <a title="Add to Cart" href="#" class="button cart_button">
                                                        <span>Add to Cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="add-to-links">
                                                <li>
                                                    <div class="wishlist">
                                                        <a title="" href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="view-products">
                                                        <a title="" href="#" data-toggle="tooltip" data-placement="top" data-original-title="view pordcuts"><i class="fa fa-arrows-alt"></i></a> </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div></div><div class="owl-item" style="width: 217px;"><div class="col-12 col-padd">
                                        <div class="single-product">
                                            <div class="product-label">
                                                <div class="new"></div>
                                            </div>
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="primary-image" src="../assets3/img/product/books3.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                </div>
                                            </div>
                                            <div class="product-content2">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                </div>
                                                <div class="button-container">
                                                    <a title="Add to Cart" href="#" class="button cart_button">
                                                        <span>Add to Cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="add-to-links">
                                                <li>
                                                    <div class="wishlist">
                                                        <a title="" href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="view-products">
                                                        <a title="" href="#" data-toggle="tooltip" data-placement="top" data-original-title="view pordcuts"><i class="fa fa-arrows-alt"></i></a> </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div></div><div class="owl-item" style="width: 217px;"><div class="col-12 col-padd">
                                        <div class="single-product">
                                            <div class="product-label">
                                                <div class="new"></div>
                                            </div>
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="primary-image" src="../assets3/img/product/books4.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                </div>
                                            </div>
                                            <div class="product-content2">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                </div>
                                                <div class="button-container">
                                                    <a title="Add to Cart" href="#" class="button cart_button">
                                                        <span>Add to Cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="add-to-links">
                                                <li>
                                                    <div class="wishlist">
                                                        <a title="" href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="view-products">
                                                        <a title="" href="#" data-toggle="tooltip" data-placement="top" data-original-title="view pordcuts"><i class="fa fa-arrows-alt"></i></a> </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div></div><div class="owl-item" style="width: 217px;"><div class="col-12 col-padd">
                                        <div class="single-product">
                                            <div class="product-label">
                                                <div class="new"></div>
                                            </div>
                                            <div class="product-img">
                                                <a href="#">
                                                    <img class="primary-image" src="../assets3/img/product/books5.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                </div>
                                            </div>
                                            <div class="product-content2">
                                                <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="new-price">$222.00</span>
                                                </div>
                                                <div class="button-container">
                                                    <a title="Add to Cart" href="#" class="button cart_button">
                                                        <span>Add to Cart</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <ul class="add-to-links">
                                                <li>
                                                    <div class="wishlist">
                                                        <a title="" href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="view-products">
                                                        <a title="" href="#" data-toggle="tooltip" data-placement="top" data-original-title="view pordcuts"><i class="fa fa-arrows-alt"></i></a> </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div></div></div></div>
                                    <!-- single-product end -->
                                <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
                            </div>
                        </div>
                    </div>

                    <!-- Related Product area end-->
                    <div class="clearfix"></div>
                  
                </div>
                <!--ambit-key-->
            </div>
            <!--col-md-9-->
        </div>
        <!--row-->
    </div>
        <!--container-->
</div>
<%- include ('../partials/footer')%>